@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/globals.css */
@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../../public/font/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.default-border {
  border-bottom: 2px solid transparent;
}

.btn {
  @apply bg-moss_green text-white rounded-3xl transition-all duration-300 ease-in-out;
}

.btn:hover {
  @apply bg-moss_green_dark transform scale-105;
}

.btn:focus {
  @apply outline-none ring-2 ring-offset-2 ring-moss_green_dark;
}

.btn:disabled {
  @apply bg-gray-400 cursor-not-allowed;
}

body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}


.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border-left-color: #29d;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* NProgress styles */
#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply fixed top-0 left-0 w-full h-1 bg-blue-500;
  z-index: 1031;
}

#nprogress .peg {
  @apply absolute right-0 w-24 h-full shadow-lg;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  @apply fixed top-4 right-4;
  z-index: 1031;
}

#nprogress .spinner-icon {
  @apply w-6 h-6 border-4 border-t-transparent border-blue-500 rounded-full;
  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(37 99 235);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(18, 70, 181);
}



.fixed-icon-size {
  width: 24px; /* Задайте подходящий размер */
  height: 24px; /* Задайте подходящий размер */
  display: inline-block;
  flex-shrink: 0; /* Предотвращает изменение размера иконки */
}
