/* MainSlider.css */
.slick-dots {
  display: flex !important;
  justify-content: center;
  padding: 10px 0;
  bottom: 30px;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
	width: fit-content;
}

.custom-dot {
  cursor: pointer;
}

.dot {
  display: block;
  width: 30px;
  height: 8px;
  background-color: rgba(108, 108, 112, 0.5);
  border-radius: 50px;
  transition: width 0.3s, background-color 0.3s;
}

.slick-active .dot {
  width: 50px;
  background-color: rgb(32, 30, 39);
}


.slick-prev, .slick-next {
  color: wheat;
  width: 100px;
height: 100px;
font-size: 60px;
right: 0;
opacity: .2;
} 

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: rgb(207, 202, 202);
    outline: none;
    background: transparent;
}


.slick-prev {
    left: 0px;
    color: wheat;
    z-index: 1;
    opacity: .2;
}


.slick-next:before {
 display: none;
}

.slick-prev:before {
 display: none;
}